// Your custom SCSS should be written here...
@import '../bower_components/gumby-parallax/_parallax.scss';
@import url(http://fonts.googleapis.com/css?family=Dr+Sugiyama);



//    $NAVBAR

.navbar {
    margin-bottom: 0px;
    max-height: 60px;
}

.guyjprice {
    font-family: 'Dr Sugiyama', cursive;
}

.parallax {
    /*background: url(../img/professionals.png) no-repeat;*/
    /*background: url(/img/parallax/green.jpg) no-repeat;*/
    /*background-size: cover;*/
    height: 400px;
        &#home {
            background: url(/img/parallax/flowers.jpg);
            background-size: cover;
        }
        &#services {
            background: url(/img/artwork/eagle.jpg);
            background-size: cover;
        }
        &#about {
            background: url(/img/parallax/fear.jpg);
            background-size: cover;
        }
        &#questions {
            background: url(/img/parallax/greeny-sky.jpg);
            background-size: cover;
        }
        &#keyword {
            background: url(/img/parallax/keyword1.jpg);
            background-size: cover;
        }
        &#email {
            background: url(/img/parallax/email-marketing.jpg);
            background-size: cover;
        }
        &#audit {
            background: url(/img/parallax/audit1.jpg);
            background-size: cover;
        }
        &#linkedin {
            background: url(/img/parallax/linkedin8.jpg);
            background-size: cover;
        }    
        &#contact {
            /*background: url(/home/plenty/images/claire/parallax/contact1.png);*/
            background: url(/img/parallax/contact4.png);
            background-size: cover;    
        }
}

//    $CAROUSEL

.carousel{
    overflow:hidden;
    width:100%;
}
.panes{
    list-style:none;
    position:relative;
    width:300%; /* Number of panes * 100% */
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
        
    -moz-animation:carousel 90s infinite;
    -webkit-animation:carousel 90s infinite;
    animation:carousel 90s infinite;
}
.panes > li{
    position:relative;
    float:left;
    width:33%; /* 100 / number of panes */
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}
.carousel h2{
    font-size:1em;
    padding:0.5em;
    position:absolute;
    right:10px;
    bottom:10px;
    left:10px;
    text-align:right;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
}

@-moz-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

@-webkit-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}


//    $TESTIMONIAL


.testimonial {
    height: 450px;
    width: 600px;
    padding: 0px;
    padding-top: 0px;
    border: 0px;
    margin:0px;
    background-color: rgba(0,0,0,.05);
}

/*.slideShow {
    height: 
}*/

//      $IMAGES

.painting {
    max-height: 700px;
    max-width: 800px;
    padding: 0px;
    padding-top: 0px;
    border: 0px;
    margin: 0px;
}



//      $SOME OTHER SHIT

.skiplink {
    background: none;
    &:hover a {
        background: rgba(80,80,80,.5);
    }
}



//     $FOOTER

.footer {
    clear: both;
    border: 1px groove #aaaaaa;
    background-color: rgb(74, 77, 80);
    /*background: blue;*/
    /*color: White;*/
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    /*position: fixed;*/
    bottom: 0px;
    width: 100%;
       

}

 body, html {
        height: 100%;
        width: 100%;
    }
    .center {
        /*background: #323232;
        font-family: 'arial black', helvetica, sans-serif, serif;*/
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        display:-moz-box;
        -moz-box-orient: vertical;
        -moz-box-pack: center;
        -moz-box-align: center;
        display: box;
        box-orient: vertical;
        box-pack: center;
        box-align: center;
    }


//      $BACKGROUND EXPERIMENT


body {
    background: #575757 url('/img/background/floral.png') left top repeat;
}

.gradientBack {
    background: #939393 url('/img/background/bg-noise.png') left top repeat; /* ie fallback */
    background: url('/img/background/bg-noise.png') left top repeat,
                -webkit-gradient(linear, 0 0, 0 bottom, from(#939393), to(#535353));
    background: url('/img/background/bg-noise.png') left top repeat,
                -webkit-linear-gradient(#939393, #535353);
    background: url('/img/background/bg-noise.png') left top repeat,
                -moz-linear-gradient(#939393, #535353);
    background: url('/img/background/bg-noise.png') left top repeat,
                -ms-linear-gradient(#939393, #535353);
    background: url('/img/background/bg-noise.png') left top repeat,
                -o-linear-gradient(#939393, #535353);
    background: url('/img/background/bg-noise.png') left top repeat,
                linear-gradient(#939393, #535353);
    }